# This dockerignore is being used as a whitelist.

# Ignore everything
*

# Files/Folders we need
!Dockerfile
!.dockerignore
!app/**
!s6-overlay/**
!requirements-dev.txt
!requirements.txt


# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__