
# Ignore everything
*

# Files/Folders we need
!pytest/requirements.txt
!api/requirements.txt
!api
!Dockerfile
!.dockerignore
!app
!s6-overlay


# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__