# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Enforce LF for all shell scripts
*.sh text eol=lf

# Enforce LF for any file named 'run'
run text eol=lf

# Denote all files that are truly binary and should not be modified.

*.png binary
*.jpg binary

